<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <title>Project Landig Page</title>
</head>
<body>
    <div class="pimg1">
        <div class="ptext">
            <span class="border">
                Welcome to Login API
            </span><br/><br/>
            <a href="#more" class="button">
                    Know more
            </a>
        </div>
    </div>

    <section class="section section-light" id="more">
        <h2>What is it?</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim ipsa tenetur facere in odit, accusamus ducimus sint excepturi vitae possimus sed illo eaque quibusdam, magnam nobis dolore consequuntur aperiam veniam?</p>
        <a href="http://127.0.0.1:3000/about" class="button">Know More</a>
    </section>

    <div class="pimg2">
        <div class="ptext">
            <span class="border trans">
                How to us it?
            </span>
        </div>
    </div>

    <section class="section section-dark">
        <h2>Using API</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas incidunt deserunt doloremque repudiandae nostrum iste, non suscipit facere est. Distinctio.</p>
    </section>

    <div class="pimg3">
        <div class="ptext">
            <span class="border trans">
                Things this API uses
            </span>
        </div>
    </div>

    <section class="section section-dark">
        <h2>Here are few things it is using</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores veniam ad tempore? Provident porro distinctio unde ab sed saepe inventore.</p>
    </section>

    <div class="pimg1">
        <div class="ptext">
            <span class="border">
                Ratnadeep Bhattacharyya
            </span>
        </div>
    </div>
</body>
</html>